# EDA for AFL Data

In [93]:
import pandas as pd
import glob
import sweetviz as sv

In [94]:
pd.set_option('display.max_columns', None)

In [95]:
fixtures_list = glob.glob('./Data/Fixtures/*.csv')
frame = []
for file in fixtures_list:
    frame.append(pd.read_csv(file))

fixtures_total = pd.concat(frame)

fixtures_total_cleaned = fixtures_total.dropna(subset=['winner'])

fixtures_total_cleaned = fixtures_total_cleaned.astype({'winnerteamid': int})

In [96]:
ladder_list = glob.glob('./Data/Ladder/*.csv')

frame = []
for file in ladder_list:
    frame.append(pd.read_csv(file))

ladder_total = pd.concat(frame)

In [97]:
lineup_list = glob.glob('./Data/Lineups/*.csv')

frame = []
for file in lineup_list:
    frame.append(pd.read_csv(file))

lineup_total = pd.concat(frame)

In [98]:
player_stats_list = glob.glob('./Data/Player_Stats/*.csv')

frame = []
for file in player_stats_list:
    frame.append(pd.read_csv(file, low_memory=False))

player_stats_total = pd.concat(frame)

In [99]:
results_list = glob.glob('./Data/Results/*.csv')

frame = []
for file in results_list:
    frame.append(pd.read_csv(file, low_memory=False))

results_total = pd.concat(frame)

In [100]:
fixtures_total_cleaned

,ascore,hgoals,winner,roundname,round,localtime,unixtime,hteamid,hteam,hbehinds,updated,hscore,is_grand_final,date,timestr,venue,winnerteamid,tz,year,agoals,complete,id,ateamid,is_final,abehinds,ateam
0,83,12,Fremantle,Round 1,1,2022-03-20 15:40:00,1.647753e+09,1,Adelaide,10,2022-03-20 18:50:03,82,0,2022-03-20 16:10:00,Full Time,Adelaide Oval,6,+11:00,2022,11,100,8669,6,0,17,Fremantle
1,69,11,Brisbane Lions,Round 1,1,2022-03-19 19:10:00,1.647681e+09,2,Brisbane Lions,14,2022-03-19 22:56:03,80,0,2022-03-19 20:10:00,Full Time,Gabba,2,+11:00,2022,10,100,8667,13,0,9,Port Adelaide
2,76,14,Carlton,Round 1,1,2022-03-17 19:25:00,1.647506e+09,3,Carlton,17,2022-03-17 22:02:04,101,0,2022-03-17 19:25:00,Full Time,M.C.G.,3,+11:00,2022,11,100,8663,14,0,10,Richmond
3,72,20,Geelong,Round 1,1,2022-03-19 14:10:00,1.647659e+09,7,Geelong,18,2022-03-19 16:56:02,138,0,2022-03-19 14:10:00,Full Time,M.C.G.,7,+11:00,2022,11,100,8665,5,0,6,Essendon
4,112,13,Sydney,Round 1,1,2022-03-19 17:10:00,1.647670e+09,9,Greater Western Sydney,14,2022-03-19 19:56:02,92,0,2022-03-19 17:10:00,Full Time,Stadium Australia,16,+11:00,2022,17,100,8666,16,0,10,Sydney
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,59,9,Collingwood,Semi-Final,25,2018-09-15 19:25:00,NaN,4,Collingwood,15,2018-09-15 21:52:02,69,0,2018-09-15 19:25:00,NaN,M.C.G.,4,+10:00,2018,9,100,2961,9,4,5,Greater Western Sydney
203,104,10,Melbourne,Semi-Final,25,2018-09-14 19:50:00,NaN,10,Hawthorn,11,2018-09-14 22:22:03,71,0,2018-09-14 19:50:00,NaN,M.C.G.,11,+10:00,2018,16,100,2960,11,4,8,Melbourne
204,97,8,Collingwood,Preliminary Final,26,2018-09-21 19:50:00,NaN,14,Richmond,10,2018-09-21 22:26:02,58,0,2018-09-21 19:50:00,NaN,M.C.G.,4,+10:00,2018,15,100,2998,4,5,7,Collingwood
205,55,18,West Coast,Preliminary Final,26,2018-09-22 13:20:00,NaN,17,West Coast,13,2018-09-22 18:00:03,121,0,2018-09-22 15:20:00,NaN,Perth Stadium,17,+10:00,2018,7,100,2999,11,5,13,Melbourne
206,74,11,West Coast,Grand Final,27,2018-09-29 14:30:00,NaN,17,West Coast,13,2018-09-29 17:14:02,79,1,2018-09-29 14:30:00,NaN,M.C.G.,17,+10:00,2018,11,100,3048,4,6,8,Collingwood

In [4]:
# Winner / Winner id is NA where the result is a draw
# As this is quite rare then can drop these rows

fixtures_total.isnull().sum(axis = 0)

ascore               0
hgoals               0
winner              14
roundname            0
round                0
localtime            0
unixtime          1817
hteamid              0
hteam                0
hbehinds             0
updated              0
hscore               0
is_grand_final       0
date                 0
timestr           1817
venue                0
winnerteamid        14
tz                   0
year                 0
agoals               0
complete             0
id                   0
ateamid              0
is_final             0
abehinds             0
ateam                0
dtype: int64

In [58]:
fixtures_total_cleaned.head()

,ascore,hgoals,winner,roundname,round,localtime,unixtime,hteamid,hteam,hbehinds,updated,hscore,is_grand_final,date,timestr,venue,winnerteamid,tz,year,agoals,complete,id,ateamid,is_final,abehinds,ateam
0,83,12,Fremantle,Round 1,1,2022-03-20 15:40:00,1.647753e+09,1,Adelaide,10,2022-03-20 18:50:03,82,0,2022-03-20 16:10:00,Full Time,Adelaide Oval,6,+11:00,2022,11,100,8669,6,0,17,Fremantle
1,69,11,Brisbane Lions,Round 1,1,2022-03-19 19:10:00,1.647681e+09,2,Brisbane Lions,14,2022-03-19 22:56:03,80,0,2022-03-19 20:10:00,Full Time,Gabba,2,+11:00,2022,10,100,8667,13,0,9,Port Adelaide
2,76,14,Carlton,Round 1,1,2022-03-17 19:25:00,1.647506e+09,3,Carlton,17,2022-03-17 22:02:04,101,0,2022-03-17 19:25:00,Full Time,M.C.G.,3,+11:00,2022,11,100,8663,14,0,10,Richmond
3,72,20,Geelong,Round 1,1,2022-03-19 14:10:00,1.647659e+09,7,Geelong,18,2022-03-19 16:56:02,138,0,2022-03-19 14:10:00,Full Time,M.C.G.,7,+11:00,2022,11,100,8665,5,0,6,Essendon
4,112,13,Sydney,Round 1,1,2022-03-19 17:10:00,1.647670e+09,9,Greater Western Sydney,14,2022-03-19 19:56:02,92,0,2022-03-19 17:10:00,Full Time,Stadium Australia,16,+11:00,2022,17,100,8666,16,0,10,Sydney

In [51]:
team_id_to_name = dict(zip(fixtures_total_cleaned.hteam,fixtures_total_cleaned.hteamid))
team_id_to_name_sorted = sorted(team_id_to_name.items(), key=lambda x:x[1], reverse=False)
team_id_to_name_sorted

[('Adelaide', 1),
 ('Brisbane Lions', 2),
 ('Carlton', 3),
 ('Collingwood', 4),
 ('Essendon', 5),
 ('Fremantle', 6),
 ('Geelong', 7),
 ('Gold Coast', 8),
 ('Greater Western Sydney', 9),
 ('Hawthorn', 10),
 ('Melbourne', 11),
 ('North Melbourne', 12),
 ('Port Adelaide', 13),
 ('Richmond', 14),
 ('St Kilda', 15),
 ('Sydney', 16),
 ('West Coast', 17),
 ('Western Bulldogs', 18)]

In [60]:
team_id_to_name_sorted = sorted(team_id_to_name.items(), key=lambda x:x[1], reverse=False)
team_id_to_name_sorted

[('Adelaide', 1),
 ('Brisbane Lions', 2),
 ('Carlton', 3),
 ('Collingwood', 4),
 ('Essendon', 5),
 ('Fremantle', 6),
 ('Geelong', 7),
 ('Gold Coast', 8),
 ('Greater Western Sydney', 9),
 ('Hawthorn', 10),
 ('Melbourne', 11),
 ('North Melbourne', 12),
 ('Port Adelaide', 13),
 ('Richmond', 14),
 ('St Kilda', 15),
 ('Sydney', 16),
 ('West Coast', 17),
 ('Western Bulldogs', 18)]

In [33]:
fixtures_total_cleaned.columns.values

array(['ascore', 'hgoals', 'winner', 'roundname', 'round', 'localtime',
       'unixtime', 'hteamid', 'hteam', 'hbehinds', 'updated', 'hscore',
       'is_grand_final', 'date', 'timestr', 'venue', 'winnerteamid', 'tz',
       'year', 'agoals', 'complete', 'id', 'ateamid', 'is_final',
       'abehinds', 'ateam'], dtype=object)

In [194]:
fixtures_usable = fixtures_total_cleaned.drop(columns=['localtime','winner', 'unixtime','hteam','ateam','timestr','roundname','updated','complete','ateam'])

In [195]:
fixtures_usable['date'] = pd.to_datetime(fixtures_usable['date'])

fixtures_usable['day_of_week'] = fixtures_usable['date'].dt.day_of_week
fixtures_usable['day_of_year'] = fixtures_usable['date'].dt.day_of_year
fixtures_usable['is_month_end'] = fixtures_usable['date'].dt.is_month_end
fixtures_usable['is_month_start'] = fixtures_usable['date'].dt.is_month_start
fixtures_usable['is_quarter_end'] = fixtures_usable['date'].dt.is_quarter_end
fixtures_usable['is_quarter_start'] = fixtures_usable['date'].dt.is_quarter_start
fixtures_usable['month'] = fixtures_usable['date'].dt.month
fixtures_usable['day'] = fixtures_usable['date'].dt.day
fixtures_usable['hour'] = fixtures_usable['date'].dt.hour
fixtures_usable['minute'] = fixtures_usable['date'].dt.minute

fixtures_usable.replace({False: 0, True: 1}, inplace=True)

In [196]:
fixtures_usable.columns.values

array(['ascore', 'hgoals', 'round', 'hteamid', 'hbehinds', 'hscore',
       'is_grand_final', 'date', 'venue', 'winnerteamid', 'tz', 'year',
       'agoals', 'id', 'ateamid', 'is_final', 'abehinds', 'day_of_week',
       'day_of_year', 'is_month_end', 'is_month_start', 'is_quarter_end',
       'is_quarter_start', 'month', 'day', 'hour', 'minute'], dtype=object)

In [197]:
fixtures_usable = fixtures_usable.sort_values(by=['date'], ascending=True)
fixtures_usable = fixtures_usable.drop(columns=['date'])

In [198]:
fixtures_usable.head()

,ascore,hgoals,round,hteamid,hbehinds,hscore,is_grand_final,venue,winnerteamid,tz,year,agoals,id,ateamid,is_final,abehinds,day_of_week,day_of_year,is_month_end,is_month_start,is_quarter_end,is_quarter_start,month,day,hour,minute
0,117,11,1,1,16,82,0,Football Park,5,+11:00,2013,18,1826,5,0,9,4,81,0,0,0,0,3,22,20,40
2,80,16,1,6,12,108,0,Subiaco,6,+11:00,2013,11,1828,17,0,14,5,82,0,0,0,0,3,23,19,40
1,106,14,1,3,17,101,0,M.C.G.,14,+11:00,2013,14,1829,14,0,22,3,87,0,0,0,0,3,28,19,40
8,59,19,1,18,13,127,0,Docklands,18,+11:00,2013,7,1830,2,0,17,5,89,0,0,0,0,3,30,13,40
4,106,11,1,9,10,76,0,Stadium Australia,16,+11:00,2013,16,1831,16,0,10,5,89,0,0,0,0,3,30,16,40

In [199]:
home_features = ['hgoals', 'hbehinds', 'hscore']
away_features = ['agoals', 'abehinds', 'ascore']
def create_exp_weighted_avgs(df, span):
    ema_features_home = fixtures_usable[['id','hteamid']].copy()
        # Create a copy of the df
    for feat_name in home_features:
        feature_ema = (df.groupby('hteamid')[feat_name]
                        .transform(lambda row: (row.ewm(span-span)
                                                .mean()
                                                .shift(1))))
        feat_name = 'ewm_' + str(span) + '_' + feat_name
        ema_features_home[feat_name] = feature_ema
    
    ema_features_away = fixtures_usable[['id','ateamid']].copy()
    for feat_name in away_features:
        feature_ema = (df.groupby('ateamid')[feat_name]
                        .transform(lambda row: (row.ewm(span-span)
                                                .mean()
                                                .shift(1))))
        feat_name = 'ewm_' + str(span) + '_' + feat_name
        ema_features_away[feat_name] = feature_ema
    
    return ema_features_home, ema_features_away

features_rolling_averages_home, features_rolling_averages_away = create_exp_weighted_avgs(fixtures_usable, span=10)

features_rolling_averages_home.drop(columns=['hteamid'], inplace=True)
features_rolling_averages_away.drop(columns=['ateamid'], inplace=True)

In [200]:
fixtures_usable_merged = pd.merge(fixtures_usable, features_rolling_averages_home, on="id", how='left')
fixtures_usable_merged = pd.merge(fixtures_usable, features_rolling_averages_away, on="id", how='left')

In [201]:
fixtures_usable_merged.head()

,ascore,hgoals,round,hteamid,hbehinds,hscore,is_grand_final,venue,winnerteamid,tz,year,agoals,id,ateamid,is_final,abehinds,day_of_week,day_of_year,is_month_end,is_month_start,is_quarter_end,is_quarter_start,month,day,hour,minute,ewm_10_agoals,ewm_10_abehinds,ewm_10_ascore
0,117,11,1,1,16,82,0,Football Park,5,+11:00,2013,18,1826,5,0,9,4,81,0,0,0,0,3,22,20,40,NaN,NaN,NaN
1,80,16,1,6,12,108,0,Subiaco,6,+11:00,2013,11,1828,17,0,14,5,82,0,0,0,0,3,23,19,40,NaN,NaN,NaN
2,106,14,1,3,17,101,0,M.C.G.,14,+11:00,2013,14,1829,14,0,22,3,87,0,0,0,0,3,28,19,40,NaN,NaN,NaN
3,59,19,1,18,13,127,0,Docklands,18,+11:00,2013,7,1830,2,0,17,5,89,0,0,0,0,3,30,13,40,NaN,NaN,NaN
4,106,11,1,9,10,76,0,Stadium Australia,16,+11:00,2013,16,1831,16,0,10,5,89,0,0,0,0,3,30,16,40,NaN,NaN,NaN

In [202]:
fixtures_usable_training = fixtures_usable_merged.drop(columns=['ascore','hgoals','hbehinds','abehinds','hscore','agoals'])

In [203]:
fixtures_usable_training.dropna(inplace=True)

In [205]:
fixtures_usable_training['home_team_winner'] = fixtures_usable_training.apply(lambda x : 1 if x['winnerteamid'] == x['hteamid'] else 0, axis=1)

In [206]:
fixtures_usable_training

,round,hteamid,is_grand_final,venue,winnerteamid,tz,year,id,ateamid,is_final,day_of_week,day_of_year,is_month_end,is_month_start,is_quarter_end,is_quarter_start,month,day,hour,minute,ewm_10_agoals,ewm_10_abehinds,ewm_10_ascore,home_team_winner
9,2,15,0,M.C.G.,14,+11:00,2013,1836,14,0,4,95,0,0,0,0,4,5,19,50,14.0,22.0,106.0,0
18,3,6,0,Subiaco,5,+10:00,2013,1845,5,0,4,102,0,0,0,0,4,12,20,40,18.0,9.0,117.0,0
19,3,12,0,Bellerive Oval,16,+10:00,2013,1865,16,0,5,103,0,0,0,0,4,13,13,45,16.0,10.0,106.0,0
20,3,11,0,M.C.G.,17,+10:00,2013,1879,17,0,5,103,0,0,0,0,4,13,14,10,11.0,14.0,80.0,0
21,3,9,0,UNSW Canberra Oval,15,+10:00,2013,1880,15,0,5,103,0,0,0,0,4,13,16,40,10.0,17.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,25,11,0,M.C.G.,2,+10:00,2022,10910,2,4,4,252,0,0,0,0,9,9,19,50,12.0,9.0,81.0,0
2006,25,4,0,M.C.G.,4,+10:00,2022,10909,6,4,5,253,0,0,0,0,9,10,19,25,13.0,11.0,89.0,1
2007,26,7,0,M.C.G.,7,+10:00,2022,10911,2,5,4,259,0,0,0,0,9,16,19,50,14.0,8.0,92.0,1
2008,26,16,0,S.C.G.,16,+10:00,2022,10912,4,5,5,260,0,0,0,0,9,17,16,45,10.0,12.0,72.0,1
2009,27,7,1,M.C.G.,7,+10:00,2022,10913,16,6,5,267,0,0,0,0,9,24,14,30,14.0,7.0,91.0,1

In [207]:
fixtures_usable_training = fixtures_usable_training.drop(columns=['venue','tz','id','winnerteamid'])

In [208]:
fixtures_usable_training

,round,hteamid,is_grand_final,year,ateamid,is_final,day_of_week,day_of_year,is_month_end,is_month_start,is_quarter_end,is_quarter_start,month,day,hour,minute,ewm_10_agoals,ewm_10_abehinds,ewm_10_ascore,home_team_winner
9,2,15,0,2013,14,0,4,95,0,0,0,0,4,5,19,50,14.0,22.0,106.0,0
18,3,6,0,2013,5,0,4,102,0,0,0,0,4,12,20,40,18.0,9.0,117.0,0
19,3,12,0,2013,16,0,5,103,0,0,0,0,4,13,13,45,16.0,10.0,106.0,0
20,3,11,0,2013,17,0,5,103,0,0,0,0,4,13,14,10,11.0,14.0,80.0,0
21,3,9,0,2013,15,0,5,103,0,0,0,0,4,13,16,40,10.0,17.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,25,11,0,2022,2,4,4,252,0,0,0,0,9,9,19,50,12.0,9.0,81.0,0
2006,25,4,0,2022,6,4,5,253,0,0,0,0,9,10,19,25,13.0,11.0,89.0,1
2007,26,7,0,2022,2,5,4,259,0,0,0,0,9,16,19,50,14.0,8.0,92.0,1
2008,26,16,0,2022,4,5,5,260,0,0,0,0,9,17,16,45,10.0,12.0,72.0,1
2009,27,7,1,2022,16,6,5,267,0,0,0,0,9,24,14,30,14.0,7.0,91.0,1

In [209]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc, plot_roc_curve, roc_auc_score, RocCurveDisplay
from sklearn.metrics import mean_absolute_error
from lightgbm import LGBMClassifier

In [210]:
fixtures_usable_training.tail()

,round,hteamid,is_grand_final,year,ateamid,is_final,day_of_week,day_of_year,is_month_end,is_month_start,is_quarter_end,is_quarter_start,month,day,hour,minute,ewm_10_agoals,ewm_10_abehinds,ewm_10_ascore,home_team_winner
2005,25,11,0,2022,2,4,4,252,0,0,0,0,9,9,19,50,12.0,9.0,81.0,0
2006,25,4,0,2022,6,4,5,253,0,0,0,0,9,10,19,25,13.0,11.0,89.0,1
2007,26,7,0,2022,2,5,4,259,0,0,0,0,9,16,19,50,14.0,8.0,92.0,1
2008,26,16,0,2022,4,5,5,260,0,0,0,0,9,17,16,45,10.0,12.0,72.0,1
2009,27,7,1,2022,16,6,5,267,0,0,0,0,9,24,14,30,14.0,7.0,91.0,1

In [211]:
fixtures_usable_training.dtypes

round                 int64
hteamid               int64
is_grand_final        int64
year                  int64
ateamid               int64
is_final              int64
day_of_week           int64
day_of_year           int64
is_month_end          int64
is_month_start        int64
is_quarter_end        int64
is_quarter_start      int64
month                 int64
day                   int64
hour                  int64
minute                int64
ewm_10_agoals       float64
ewm_10_abehinds     float64
ewm_10_ascore       float64
home_team_winner      int64
dtype: object

In [212]:
target_column = [
    'home_team_winner'
]

In [217]:
train_set

,round,hteamid,is_grand_final,year,ateamid,is_final,day_of_week,day_of_year,is_month_end,is_month_start,is_quarter_end,is_quarter_start,month,day,hour,minute,ewm_10_agoals,ewm_10_abehinds,ewm_10_ascore,home_team_winner
9,2,15,0,2013,14,0,4,95,0,0,0,0,4,5,19,50,14.0,22.0,106.0,0
18,3,6,0,2013,5,0,4,102,0,0,0,0,4,12,20,40,18.0,9.0,117.0,0
19,3,12,0,2013,16,0,5,103,0,0,0,0,4,13,13,45,16.0,10.0,106.0,0
20,3,11,0,2013,17,0,5,103,0,0,0,0,4,13,14,10,11.0,14.0,80.0,0
21,3,9,0,2013,15,0,5,103,0,0,0,0,4,13,16,40,10.0,17.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,25,7,0,2021,9,4,4,246,0,0,0,0,9,3,19,50,11.0,8.0,74.0,1
1800,25,2,0,2021,18,4,5,247,0,0,0,0,9,4,19,20,5.0,7.0,37.0,0
1801,26,11,0,2021,7,5,4,253,0,0,0,0,9,10,19,50,5.0,13.0,43.0,1
1802,26,13,0,2021,18,5,5,254,0,0,0,0,9,11,19,40,11.0,13.0,79.0,0
1803,27,11,1,2021,18,6,5,268,0,0,0,0,9,25,19,15,17.0,14.0,116.0,1

In [277]:
train_set = fixtures_usable_training[fixtures_usable_training['year'] != 2022]
test_set = fixtures_usable_training[fixtures_usable_training['year'] == 2022]

X_train = train_set.drop(columns=[target_column[0]])
X_test = test_set.drop(columns=[target_column[0]])

y_train = train_set[target_column]
y_test = test_set[target_column]

In [230]:
from sklearn.metrics import f1_score,accuracy_score

In [223]:
y_pred_train_naive = y_train.replace(0, 1)

In [227]:
naive_score_train = f1_score(y_train, y_pred_train_naive, average='weighted')
naive_score_train

0.40524795144206527

In [231]:
accuracy_score(y_train, y_pred_train_naive)

0.5627099664053752

In [233]:
y_pred_train = clf.predict(X_train)
accuracy_score(y_train, y_pred_train)

1.0

In [236]:
from sklearn.metrics import log_loss

In [281]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

eval_set = [(X_test, y_test)]
clf = XGBClassifier(objective='binary:logistic', n_estimators=500000)

clf.fit(X_train, y_train, eval_metric="auc", eval_set=eval_set,
        early_stopping_rounds=5000,
        verbose=1000)

y_pred_train = clf.predict(X_train)

# evaluate predictions
train_accuracy = accuracy_score(y_train, y_pred_train)
print(f'Accuracy for classifier on train set: {train_accuracy}')

[0]	validation_0-auc:0.50551

/home/beefsports/mambaforge/envs/afl/lib/python3.11/site-packages/xgboost/sklearn.py:861: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(
/home/beefsports/mambaforge/envs/afl/lib/python3.11/site-packages/xgboost/sklearn.py:861: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[1000]	validation_0-auc:0.52734
[2000]	validation_0-auc:0.52508
[3000]	validation_0-auc:0.52665
[4000]	validation_0-auc:0.52537
[5000]	validation_0-auc:0.52675
[5011]	validation_0-auc:0.52685
Accuracy for classifier on train set: 0.9397163120567376

In [282]:
y_pred_test = clf.predict(X_test)

# evaluate predictions
test_accuracy = accuracy_score(y_test, y_pred_test)
print(f'Accuracy for classifier on test set: {test_accuracy}')

Accuracy for classifier on test set: 0.5388349514563107

In [249]:
y_pred_test_naive = y_test.replace(0, 1)

In [266]:
accuracy_score(y_test, y_pred_test_naive)

0.6019417475728155

In [250]:
y_pred_test_naive

      home_team_winner
1804                 1
1805                 1
1806                 1
1807                 1
1808                 1
...                ...
2005                 1
2006                 1
2007                 1
2008                 1
2009                 1

[206 rows x 1 columns]